.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy1 {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy2 {
    width: 113px;
    height: 39px;
    background-position: -10px -69px;
}

.sprite-academy3 {
    width: 113px;
    height: 39px;
    background-position: -10px -128px;
}

.sprite-checkbox {
    width: 26px;
    height: 22px;
    background-position: -10px -187px;
}

.sprite-f {
    width: 10px;
    height: 19px;
    background-position: -10px -229px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -268px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -10px -358px;
}

.sprite-kalendar1 {
    width: 21px;
    height: 22px;
    background-position: -10px -450px;
}

.sprite-kalendar2 {
    width: 21px;
    height: 22px;
    background-position: -10px -492px;
}

.sprite-kalendar3 {
    width: 21px;
    height: 22px;
    background-position: -10px -534px;
}

.sprite-minus1 {
    width: 12px;
    height: 3px;
    background-position: -10px -576px;
}

.sprite-minus2 {
    width: 12px;
    height: 3px;
    background-position: -10px -599px;
}

.sprite-minus3 {
    width: 12px;
    height: 3px;
    background-position: -10px -622px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -645px;
}

.sprite-plus1 {
    width: 11px;
    height: 11px;
    background-position: -10px -676px;
}

.sprite-plus1---_____ {
    width: 11px;
    height: 11px;
    background-position: -10px -707px;
}

.sprite-plus3 {
    width: 11px;
    height: 11px;
    background-position: -10px -738px;
}

.sprite-presents {
    width: 64px;
    height: 76px;
    background-position: -10px -769px;
}

.sprite-square {
    width: 22px;
    height: 22px;
    background-position: -10px -865px;
}

.sprite-squareblock {
    width: 26px;
    height: 22px;
    background-position: -10px -907px;
}

.sprite-t {
    width: 17px;
    height: 15px;
    background-position: -10px -949px;
}

.sprite-triangle1 {
    width: 11px;
    height: 10px;
    background-position: -10px -984px;
}

.sprite-triangle2 {
    width: 11px;
    height: 10px;
    background-position: -10px -1014px;
}

.sprite-triangle2---_____ {
    width: 11px;
    height: 10px;
    background-position: -10px -1044px;
}

.sprite-triangle3 {
    width: 11px;
    height: 10px;
    background-position: -10px -1074px;
}

.sprite-triangle4 {
    width: 11px;
    height: 10px;
    background-position: -10px -1104px;
}

.sprite-triangle5 {
    width: 11px;
    height: 10px;
    background-position: -10px -1134px;
}

.sprite-triangle6 {
    width: 11px;
    height: 10px;
    background-position: -10px -1164px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -1194px;
}
