body{
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size:14px;
  line-height: 1.3em;
  text-transform: uppercase;
}

h1, h2{
  font-size:21px;
  font-weight:bold;
  line-height: 1em;
}

h3{
  font-size:14px;
  font-weight:normal;
  line-height:0.54em;
}


