*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size:14px;
  line-height: 1.3em;
  text-transform: uppercase;
  background-color: rgb(242,242,242);
}
h1, h2{
  font-size:21px;
  font-weight:bold;
  line-height: 1em;
}
h3{
  font-size:14px;
  font-weight:normal;
  line-height:0.54em;
}
.container{
  width:1200px;
  margin:0 auto;
 margin-top: -15px;
}
/*стили для header: index.html,catalog.html*/
.main-header{
  position: relative;
  background-color: white;
  min-height: 57px;
  margin-bottom: -14px;
}
.main-header img{
  position: absolute;
  top:0;
  left: 570px;
  z-index: 10;
}
.main-navigation ul{
  display: flex;
  justify-content: space-around;
}

.main-header li{
  list-style-type: none;
  margin-top: 21px;
  width: 20%;
  background-color: cadetblue;
}
.navigation-left{
  text-align: left;/*Почему не работает? Если убрать justify-content: space-around, то "Карта штата налезает на логотип"*/
}
.navigation-right{
  text-align: right;/*Почему не работает? Если убрать justify-content: space-around, то "Карта штата налезает на логотип"*/
}

.main-header li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-logo{
  background-image: url(../img/bc.png), url(../img/background%20photo.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 bottom, 50% 0;
  padding-top:50px;
  padding-bottom: 50px;

}
.logo-image {
  width:456px;
  height: 343px;
}
/*Стили к index.html, для блоков с рекламой*/
.main-description{
  background-color: white;
  width: 1200px;
  min-height: 210px;
}
.main-description h1{
  text-align: center;
  white-space: pre-wrap;
  margin-top:0;
  padding:60px 282px 34px 282px;
}
.main-description h3{
  text-align: center;
  margin-bottom:0;
}
.advertising{
  display: flex;
  min-height: 257px;
}
.items-first:nth-child(1),.items-second:nth-child(2){
  width: 400px;
  background-color: rgb(129,179,210);
}
.items-second:nth-child(1){
  width:800px;
  background-image: url(../img/backgroundimage2.jpg);
}
 .items-first:nth-child(2){
  background-image: url(../img/backgroundimage1.jpg);
  width:800px;
}
.advertising-content{
  min-height: 166px;
  width: 307;
  color: white;
  margin:50px 46px 40px 46px;
}
.advertising-content p{
  text-align: center;
  font-size: 14px;
}
.advertising-content p:first-child{
  font-size: 21px;
}
.advertising-area p,
.advertising-road p,
.advertising-tourist p{
  color: black;
}
.advertising-area p:nth-child(1),
.advertising-road p:nth-child(1),
.advertising-tourist p:nth-child(1){
  font-weight: bold;
}
.advertising-area,
.advertising-road,
.advertising-tourist{
  background-color: rgb(238,238,238);
}

.features{
  display: flex;
  min-height: 330px;
  position: relative;
}
.features-details{
  width: 400px;
  padding-top: 164px;
  text-align: center;
  background-color: white;
}
.accomodation, .food, .presents{
  font-weight: bold;
  font-size: 21px;
}
.features-image{
  display: block;
  background-image: url(../img/sprite2.png);
}
.accomodation-link{
  width: 75px;
  height: 72px;
  background-position: -10px -358px;
  position: absolute;
  top: 60px;
  left: 162px;
}
.food-link{
  width: 74px;
  height: 70px;
  background-position: -10px -268px;
  position: absolute;
  top: 60px;
  left: 560px;
}
.presents-link{
  width: 64px;
  height: 76px;
  background-position: -10px -769px;
  position: absolute;
  bottom: 200px;
  right: 170px;
}
.samewrap{
  white-space: pre-wrap;
}

/*Стили к index.html:форма, блок поверх формы, карта*/
.map{
  background-image: url(../img/map.jpg)
}
.best-offer{
  display: flex;
  flex-direction: column;
  min-height: 766px;
  background-color: floralwhite;
}
.best-offer-interest{
  background-color: white;
}
.best-offer-options h2{
  margin-top: 0px;
  text-align: center;
  padding-left: 30px;
  font-size: 30px;
}
.best-offer-options{
  width: 634px;
  margin-left: 282px;
  margin-right: 282px;
  margin-top: 56px;
  min-height: 147px;
}
.best-offer-options p{
  text-align: center;
  white-space: pre-wrap;
  padding-top: 31px;
}
.best-offer-hotels{
  width: 567px;
  min-height: 87px;
  background-color: rgb(118,99,87);
  margin-left: 316px;
  margin-right: 316px;
}
.best-offer-hotels a{
  color:white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 33px 22px;
}
.hotels{
  width: 568px;
  min-height: 396px;
  background-color: white;
  margin-left: 316px;
  margin-right: 316px;
}
.hotels label{
  margin-left: 55px;
  font-weight: bold;
}
label[for = 'user-field-id-one']{
  margin-right: 21px;
}
label[for = 'user-field-id-two']{
  margin-right: 17px;
}
label[for = 'for-adults']{
  margin-right: 38px;
}
input[type='text']{
  width:346px;
  min-height: 40px;
  background-color: rgb(242,242,242);
  border:none;
  font-weight: bold;
}
input[type='text']:hover{
  background-color: rgb(235,235,235);
}
input[type='text']:focus{
  background-color: transparent;
  border: none;/*Как сделать рамку как в стайлгайде? Как убрать голубую обводку*/
}
#user-field-id-one{
  margin-top: 56px;
  width:346px;
}
#user-field-id-two, #user-field-id-one{
  padding-left: 12px;
  margin-bottom: 30px;
}
.formblock{
  position:relative;
}
.date-checkin, .date-checkout{
  display: block;
  position: absolute;
  background-image: url(../img/sprite2.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -10px -450px;
}
.date-checkin{
  top: 65px;
  right: 65px;
}
 .date-checkout{
  top: 10px;
  right: 65px;
}
.date-checkin:hover, .date-checkout:hover{
  background-position: -10px -492px;
}
.date-checkin:active, .date-checkout:active{
 background-position: -10px -534px;
}

button[name = 'results']{
  background-color: rgb(129,179,210);
  width: 458px;
  height: 58px;
  border: none;
  margin: 55px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  padding: 17px 195px;
}
button[name = 'results']:hover, .social-btn:hover{
  background-color: rgb(102,158,192);
}
button[name = 'results']:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255, 0.3)
}

.adultsbox-btn{
  display: block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  background-color: rgb(242,242,242);
  position: relative;
}/*Почему не видно этих ссылок!?*/

.social-btn{
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  font-size: 0;
  background-color: rgb(129,179,210);
  position: relative;
}
.options{
  width: 1200px;
  display: flex;
  position: relative;
  background-image: url(../img/filterbackground.jpg)
}
.options-accomodation,.options-features{
   width:250px;
   min-height: 217px;
}
.price{
  width: 700px;
  min-height: 217px;
}

input[type='checkbox']{
  display: none;
}
input[type='checkbox'] + label{
  display: block;
  margin: 10px 18px 10px 71px;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
}
input[type='checkbox'] + label::before{
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 1px;
  border: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
}
input[type='checkbox']:checked + label::after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
label{
   margin-left: 20px;
}
.options p{
  text-align: center;
  padding-top: 30px;
}
.sort{
  min-height: 86px;
  background-color: white;
  display: flex;
  position: relative;
}
.sort h2{
  margin-top: 0;
  padding: 33px 49px 33px 46px;
}
.sort p{
  margin-top: 0;
  padding-top: 40px;
  font-size: 12px;
  line-height: 1.125em;
}
.sort ul{
  display: flex;
  margin-top: 38px;
}
.sort li{
  list-style-type: none;
}
.sorting{
  text-decoration: none;
  color: rgb(202,202,202);
  border-bottom: 1px dotted rgb(129,179,210);
  margin-right: 35px;
}
.sorting:hover{
  color: rgb(129,179,210);
  border-bottom: 1px dotted rgb(129,179,210);
}
.sorting:active{
  color: black;
  border-bottom: none;
}
.sort .active{
  color: rgb(129,179,210);
  border: none;
}
.sort-guide{
  width: 11px;
  height: 10px;
  position: absolute;
}
.active-guide{
  background-image: url(../img/triangle6.png);
  background-repeat: no-repeat;
  top: 39px;
  right:73px;
}
.sort-guide:first-child{
  background-image: url(../img/triangle1.png);
  background-repeat: no-repeat;
  top: 40px;
  right:96px;
}
.sort-guide:hover{
  background-image: url(../img/triangle2.png);
}
.active-guide:hover{
  background-image: url(../img/triangle5.png);
}
.sort-guide:active{
  background-image: url(../img/triangle3.png);
}
.active-guide:active{
  background-image: url(../img/triangle6.png);
}
.items{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.items-amara,
.items-quail,
.items-poco{
  display: flex;
  min-height: 150px;
}
.items-amara,
.items-quail,
.items-poco{
  border-bottom: 1px solid rgb(229,229,229);
}
.items-amara{
  border-top: 1px solid rgb(229,229,229);
}
.items img{
  margin: 30px 30px 30px 72px;
}
.items h2{
  margin-top: 0;
  padding-top: 28px;
  min-height: 32px;
}
.items h2:hover{
  color: rgb(129, 179, 210);
}
.items h2:active{
  color: rgb(202, 202, 202);
}

.amara-description p, .amara-description a,
.quail-description p, .quail-description a,
.poco-description p, .poco-description a{
  display: inline-block;
  width: 200px;
}
.amara-description p,
.quail-description p,
.poco-description {
  margin-top: -10px;/*????*/
}
.amara-book,.amara-details,
.quail-details, .quail-book,
.poco-details, .poco-book {
  min-height:27px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  color: white;
  margin-top: -20px;/*????*/
}
.amara-details,
.quail-details,
.poco-details{
  width: 110px;
  background-color: rgb(129, 179, 210);
}
.amara-details:hover,
.quail-details:hover,
.poco-details:hover{
  background-color: rgb(102, 158, 192);
}
.amara-details:active,
.quail-details:active,
.poco-details:active{
  background-color: rgb(84, 150, 189);
  color: rgba(255,255,255, 0.3)
}
.amara-book,
.quail-book,
.poco-book{
  width: 142px;
  background-color: rgb(118, 99, 87);
}
.amara-book:hover,
.quail-book:hover,
.poco-book:hover{
  background-color: rgb(96, 78, 67);
}
.amara-book:active,
.quail-book:active,
.poco-book:active{
  color: rgba(255,255,255, 0.3);
  background-color: rgb(80, 62, 51);
}

.amara-description,
.quail-description,
.poco-description{
  width: 544px;
}

.amara-information,
.quail-information,
.poco-information{
  min-height: 152px;
  width: 728px;
  position: relative;
}
.amara-rating,
.poco-raitnig,
.quail-raitnig{
  width: 110px;
  min-height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 4px;
  margin-top: 93px;
  margin-right: 73px;/*??Не работает??*/
  position: absolute;/*Нужно ли?*/
  right: 73px;/*Нужно ли?*/
}
.raitning-image{
  margin-top: 29px;
  width: 89px;
  height: 17px;
  background-image: url(../img/stars.png);
  margin-right: 73px;/*Не работает?*/
  position: absolute;
  right: 73px;
}
.quail-information .raitning-image{
  width: 65px;
}
.poco-information .raitning-image{
  width: 42px;
}
/*Стили для футера*/
.main-footer{
  display: flex;
  min-height: 121px;
  background-color: rgba(255,255,255,0.8);
  position: relative;
  margin-top: -121px;
}
#noopacity{
  background-color: rgb(255,255,255);
  margin-top:0;
}
.footer-hastag{
  display: flex;
  margin-left: 132px;
  margin-top: 50px;
}
.footer-hastag a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.footer-hastag, .footer-social{
  width: 400px;
}
.footer-copyright{
  width: 400px;
}
.footer-social{
  margin-top: 35px;
}
.copyright-sign{
  display: block;
  text-decoration: none;
  position: absolute;
  top: 53px;
  right: 224px;
  color: black;
}

.copyright-logo{
  display: block;
  background-image: url(../img/sprite2.png);
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
  position: absolute;
  top: 41px;
  right: 103px;
}

.social-btn:active{
  background-color: rgb(84,150,189);
}
.social-btn::before{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite2.png);
  background-repeat: no-repeat;
}
.social-btn-tv::before{
  width: 17px;
  height: 15px;
  background-position: -10px -949px;
}
.social-btn-fb::before{
  width: 10px;
  height: 19px;
  background-position: -10px -229px;
}
.social-btn-you::before{
  width: 20px;
  height: 16px;
  background-position: -10px -1194px;
}
/*Стили для ползунка, демо*/
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;/*Нужно ли здесь позиционирование? В Демо его не было. Относительное позиционирование задано у блока .optionsстрока 341*/
  top: 26px;
  right: 74px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin-right: 20px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}



/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy1 {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy2 {
    width: 113px;
    height: 39px;
    background-position: -10px -69px;
}

.sprite-academy3 {
    width: 113px;
    height: 39px;
    background-position: -10px -128px;
}

.sprite-checkbox {
    width: 26px;
    height: 22px;
    background-position: -10px -187px;
}

.sprite-f {
    width: 10px;
    height: 19px;
    background-position: -10px -229px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -268px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -10px -358px;
}

.sprite-kalendar1 {
    width: 21px;
    height: 22px;
    background-position: -10px -450px;
}

.sprite-kalendar2 {
    width: 21px;
    height: 22px;
    background-position: -10px -492px;
}

.sprite-kalendar3 {
    width: 21px;
    height: 22px;
    background-position: -10px -534px;
}

.sprite-minus1 {
    width: 12px;
    height: 3px;
    background-position: -10px -576px;
}

.sprite-minus2 {
    width: 12px;
    height: 3px;
    background-position: -10px -599px;
}

.sprite-minus3 {
    width: 12px;
    height: 3px;
    background-position: -10px -622px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -645px;
}

.sprite-plus1 {
    width: 11px;
    height: 11px;
    background-position: -10px -676px;
}

.sprite-plus1---_____ {
    width: 11px;
    height: 11px;
    background-position: -10px -707px;
}

.sprite-plus3 {
    width: 11px;
    height: 11px;
    background-position: -10px -738px;
}

.sprite-presents {
    width: 64px;
    height: 76px;
    background-position: -10px -769px;
}

.sprite-square {
    width: 22px;
    height: 22px;
    background-position: -10px -865px;
}

.sprite-squareblock {
    width: 26px;
    height: 22px;
    background-position: -10px -907px;
}

.sprite-t {
    width: 17px;
    height: 15px;
    background-position: -10px -949px;
}

.sprite-triangle1 {
    width: 11px;
    height: 10px;
    background-position: -10px -984px;
}

.sprite-triangle2 {
    width: 11px;
    height: 10px;
    background-position: -10px -1014px;
}

.sprite-triangle2---_____ {
    width: 11px;
    height: 10px;
    background-position: -10px -1044px;
}

.sprite-triangle3 {
    width: 11px;
    height: 10px;
    background-position: -10px -1074px;
}

.sprite-triangle4 {
    width: 11px;
    height: 10px;
    background-position: -10px -1104px;
}

.sprite-triangle5 {
    width: 11px;
    height: 10px;
    background-position: -10px -1134px;
}

.sprite-triangle6 {
    width: 11px;
    height: 10px;
    background-position: -10px -1164px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -1194px;
}

*/






















