*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size:14px;
  line-height: 1.3em;
  text-transform: uppercase;
  background-color: rgb(242,242,242);
}
h1, h2{
  font-size:21px;
  font-weight:bold;
  line-height: 1em;
}
h3{
  font-size:14px;
  font-weight:normal;
  line-height:0.54em;
}
.container{
  width:1200px;
  margin:0 auto;
 margin-top: -15px;
}
.main-header{
  position: relative;
  background-color: white;
  min-height: 57px;
  margin-bottom: -14px;
}
.main-header img{
  position: absolute;
  top:0;
  left: 570px;
}
.main-navigation ul{
  display: flex;
  justify-content: space-around;
}
.main-header li{
  list-style-type: none;
  margin-top: 21px;
}
.main-header li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-logo{
  background-image: url(../img/bc.png), url(../img/background%20photo.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 bottom, 50% 0;
  padding-top:50px;
  padding-bottom: 50px;

}
.logo-image {
  width:456px;
  height: 343px;
}
.main-description{
  background-color: white;
  width: 1200px;
  min-height: 210px;
}
.main-description h1{
  text-align: center;
  white-space: pre-wrap;
  margin-top:0;
  padding:60px 282px 34px 282px;
}
.main-description h3{
  text-align: center;
  margin-bottom:0;
}
.advertising{
  display: flex;
  min-height: 257px;
}
.items-first:nth-child(1),.items-second:nth-child(2){
  width: 400px;
  background-color: rgb(129,179,210);
}
.items-second:nth-child(1){
  width:800px;
  background-image: url(../img/backgroundimage2.jpg);
}
 .items-first:nth-child(2){
  background-image: url(../img/backgroundimage1.jpg);
  width:800px;
}
.advertising-content{
  min-height: 166px;
  width: 307;
  color: white;
  margin:50px 46px 40px 46px;
}
.advertising-content p{
  text-align: center;
}
.advertising-area p,
.advertising-road p,
.advertising-tourist p{
  color: black;
}
.advertising-area p:nth-child(1),
.advertising-road p:nth-child(1),
.advertising-tourist p:nth-child(1){
  font-weight: bold;
}
.advertising-area,
.advertising-road,
.advertising-tourist{
  background-color: rgb(238,238,238);
}

.features{
  display: flex;
  min-height: 330px;
}
.features-details{
  background-color: white;
}
.features-details{
  width: 400px;
  padding-top: 60px;
  text-align: center;
}
.accomodation, .food, .presents{
  font-weight: bold;
  margin-top: 30px;
}
.samewrap{
  white-space: pre-wrap;
}
.map{
  background-image: url(../img/map.jpg)
}
.best-offer{
  display: flex;
  flex-direction: column;
  min-height: 766px;
  background-color: floralwhite;
}
.best-offer-interest{
  background-color: white;
}
.best-offer-options h2{
  margin-top: 0px;
  padding-top: 56px;
  text-align: center;
  padding-left: 30px;
}
.best-offer-options{
  width: 634px;
  margin-left: 282px;
  margin-right: 282px;
  min-height: 147px;
}
.best-offer-options p{
  text-align: center;
  white-space: pre-wrap;
  padding-top: 32px;
}
.best-offer-hotels{
  width: 567px;
  min-height: 87px;
  background-color: rgb(118,99,87);
  margin-left: 316px;
  margin-right: 316px;
}
.best-offer-hotels a{
  color:white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 33px 22px;
}
.hotels{
  width: 568px;
  min-height: 396px;
  background-color: white;
  margin-left: 316px;
  margin-right: 316px;
}
.hotels label{
  margin-left: 55px;
}
label[for = 'user-field-id-one']{
  margin-right: 21px;
}
label[for = 'user-field-id-two']{
  margin-right: 17px;
}
label[for = 'for-adults']{
  margin-right: 38px;
}
input[type='text']{
  width:346px;
  min-height: 40px;
  background-color: rgb(242,242,242);
  border:none;
}
.formblock{
  position: relative;
}

.formblock:nth-child(2) img{
  position: absolute;
  top: 10px;
  right:70px;
}
.formblock:nth-child(1) img {
  position: absolute;
  top:65px;
  right: 70px;
}
#user-field-id-one{
  margin-top: 56px;
}
#user-field-id-two, #user-field-id-one{
  padding-left: 12px;
  margin-bottom: 30px;
}
button[name = 'results']{
  background-color: rgb(129,179,210);
  width: 458px;
  height: 58px;
  border: none;
  margin: 55px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  padding: 17px 195px;
}
button[name = 'results']:hover, .social-btn:hover{
  background-color: rgb(102,158,192);
}
button[name = 'results']:active{
  background-color: rgb(84,150,189);
  color: rgba(255,255,255, 0.3)
}
.social-btn{
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  font-size: 0;
  background-color: rgb(129,179,210);
  position: relative;
}
.social-btn:active{
  background-color: rgb(84,150,189);
}
.social-btn::before{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite1.png);
  background-repeat: no-repeat;
}
.social-btn-tv::before{
  width: 17px;
  height: 15px;
  background-position: -10px -49px;
}
.social-btn-fb::before{
  width: 10px;
  height: 19px;
  background-position: -10px -10px;
}
.social-btn-you::before{
  width: 20px;
  height: 16px;
  height: 16px;
  background-position: -10px -84px;
}

.options{
  width: 1200px;
  display: flex;
  background-image: url(../img/filterbackground.jpg)
}
.options-accomodation,.options-features{
   width:250px;
   min-height: 217px;
}
.price{
  width: 700px;
  min-height: 217px;
}

input[type='checkbox']{
  display: none;
}
input[type='checkbox'] + label{
  display: block;
  margin: 10px 18px 10px 71px;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
}
input[type='checkbox'] + label::before{
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 1px;
  border: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
}
input[type='checkbox']:checked + label::after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
label{
   margin-left: 20px;
}
.options p{
  text-align: center;
  padding-top: 30px;
}
.sort{
  min-height: 86px;
  background-color: white;
  display: flex;
  position: relative;
}
.sort h2{
  margin-top: 0;
  padding: 33px 49px 33px 46px;
}
.sort p{
  margin-top: 0;
  padding-top: 40px;
  font-size: 12px;
  line-height: 1.125em;
}
.sort ul{
  display: flex;
  margin-top: 38px;
}
.sort li{
  list-style-type: none;
}
.sorting{
  text-decoration: none;
  color: rgb(202,202,202);
  border-bottom: 1px dotted rgb(129,179,210);
  margin-right: 35px;
}
.sorting:hover{
  color: rgb(129,179,210);
  border-bottom: 1px dotted rgb(129,179,210);
}
.sorting:active{
  color: black;
  border-bottom: none;
}
.sort .active{
  color: rgb(129,179,210);
  border: none;
}
.sort-guide{
  width: 11px;
  height: 10px;
  position: absolute;
}
.active-guide{
  background-image: url(../img/triangle6.png);
  background-repeat: no-repeat;
  top: 39px;
  right:73px;
}
.sort-guide:first-child{
  background-image: url(../img/triangle1.png);
  background-repeat: no-repeat;
  top: 40px;
  right:96px;
}
.sort-guide:hover{
  background-image: url(../img/triangle2.png);
}
.active-guide:hover{
  background-image: url(../img/triangle5.png);
}
.sort-guide:active{
  background-image: url(../img/triangle3.png);
}
.active-guide:active{
  background-image: url(../img/triangle6.png);
}
.items{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.items-amara,
.items-quail,
.items-poco{
  display: flex;
  min-height: 150px;
}
.items-amara,
.items-quail,
.items-poco{
  border-bottom: 1px solid rgb(229,229,229);
}
.items-amara{
  border-top: 1px solid rgb(229,229,229);
}
.items img{
  margin: 30px 30px 30px 72px;
}
.items h2{
  margin-top: 0;
  padding-top: 28px;
  min-height: 32px;
}
.items h2:hover{
  color: rgb(129, 179, 210);
}
.items h2:active{
  color: rgb(202, 202, 202);
}

.amara-description p, .amara-description a,
.quail-description p, .quail-description a,
.poco-description p, .poco-description a{
  display: inline-block;
  width: 200px;
}
.amara-description p,
.quail-description p,
.poco-description {
  margin-top: -10px;/*????*/
}
.amara-book,.amara-details,
.quail-details, .quail-book,
.poco-details, .poco-book {
  min-height:27px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  color: white;
  margin-top: -20px;/*????*/
}
.amara-details,
.quail-details,
.poco-details{
  width: 110px;
  background-color: rgb(129, 179, 210);
}
.amara-details:hover,
.quail-details:hover,
.poco-details:hover{
  background-color: rgb(102, 158, 192);
}
.amara-details:active,
.quail-details:active,
.poco-details:active{
  background-color: rgb(84, 150, 189);
  color: rgba(255,255,255, 0.3)
}
.amara-book,
.quail-book,
.poco-book{
  width: 142px;
  background-color: rgb(118, 99, 87);
}
.amara-book:hover,
.quail-book:hover,
.poco-book:hover{
  background-color: rgb(96, 78, 67);
}
.amara-book:active,
.quail-book:active,
.poco-book:active{
  color: rgba(255,255,255, 0.3);
  background-color: rgb(80, 62, 51);
}

.amara-description,
.quail-description,
.poco-description{
  width: 544px;
}

.amara-information,
.quail-information,
.poco-information{
  min-height: 152px;
  width: 728px;
  position: relative;
}
.amara-rating,
.poco-raitnig,
.quail-raitnig{
  width: 110px;
  min-height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 4px;
  margin-top: 93px;
  margin-right: 73px;/*??Не работает??*/
  position: absolute;/*Нужно ли?*/
  right: 73px;/*Нужно ли?*/
}
.raitning-image{
  margin-top: 29px;
  width: 89px;
  height: 17px;
  background-image: url(../img/stars.png);
  margin-right: 73px;/*Не работает?*/
  position: absolute;
  right: 73px;
}
.quail-information .raitning-image{
  width: 65px;
}
.poco-information .raitning-image{
  width: 42px;
}
.main-footer{
  display: flex;
  min-height: 121px;
  background-color: rgba(255,255,255,0.8);
  position: relative;
  margin-top: -121px;
}
#noopacity{
  background-color: rgb(255,255,255);
  margin-top:0;
}
.footer-hastag{
  display: flex;
  margin-left: 132px;
  margin-top: 50px;
}
.footer-hastag a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.footer-hastag, .footer-social{
  width: 400px;
}
.footer-copyright{
  width: 400px;
}
.footer-social{
  margin-top: 35px;
}
.footer-copyright{
  display: flex;
  position: relative;
  border: 1px solid black;
}
.footer-copyright div{
  width: 113px;
  min-height: 39px;
  background-image: url(../img/academy1.png);
}
.footer-copyright div{
  margin-top: 41px;
  position: absolute;
  background-position: 100% 100%;/*Должен быть в правом нижнем углу.???*/
}
.footer-copyright a{
  position: absolute;
  left: 30px;
}


























